<%- include("../partials/header") %>
<link rel="stylesheet" href="/css/login.css">
</head>
<body>
<!-- header ends here -->


<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 mt-3 logincontainer">
            <h4 class="display-6 mb-3">Login</h4>
            <%- include("../partials/flash") %>
            <form action="/login" method="POST">

                <div class="mb-3">
                    <input type="text" class="form-control" name="username" placeholder="Username">
                </div>                
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>

                <!-- button -->
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
                <div class="mb-3 mt-3">
                    <p><a href="/register">Don't have an account ? Register here</a></p>
                </div>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>


<%- include("../partials/footer") %>
<!-- footer ends here -->