<%- include("../partials/header") %>
<script src="https://kit.fontawesome.com/6399affceb.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div class="container">
    <!-- bootstrap is mobile first -->
    <div class="row">      
        <%- include("../partials/navbar") %>
        <div class="mainContainer col-10 col-md-8 col-lg-6">
            <h1 class="fw-bold titleContainer">Profile</h1>
            

        </div>
        <div class="d-none d-md-block col-md-2 col-lg-4">
            Third div
        </div>
    </div>
</div>
<script src="/js/common.js"></script>

<%- include("../partials/footer") %>